body {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #FBED71;
}

img {
    width: 100vw;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
